<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><title>Close</title><path d="M8.586,10,.454,1.868,1.868.454,10,8.586,18.132.454l1.414,1.414L11.414,10l8.132,8.132-1.414,1.414L10,11.414,1.868,19.546.454,18.132Z"/></svg>