<form id="email_signup" class="klaviyo_gdpr_embed_N3qT75  newsletter-signup-form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-
lists.com/ajax/subscriptions/subscribe" method="GET" 
target="_blank" novalidate="novalidate">
	<input type="hidden" name="g" value="N3qT75">
	<div class="klaviyo_field_group">
		<input class="" type="email" value="" name="email" id="k_id_email" placeholder="Enter email"/>
	</div>
	<div class="klaviyo_messages">
		<div class="success_message" style="display:none;"></div>
		<div class="error_message" style="display:none;"></div>
	</div>
	<div class="klaviyo_form_actions">
		<button type="submit" class="newsletter-signup-form__submit">{% include 'icon-right-arrow' %}</button>
	</div>
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
 KlaviyoSubscribe.attachToForms('#email_signup', {
 hide_form_on_success: true,
 extra_properties: {
 $source: '$embed',
 $method_type: "Klaviyo Form",
 $method_id: 'embed',
 }
 });
</script>