<svg xmlns="http://www.w3.org/2000/svg" width="37.401" height="17.547" viewBox="0 0 37.401 17.547"><desc>Math Equals</desc><path d="M.036,2.52,37.366.749" fill="none" stroke="#323232" stroke-width="1.5"/><path d="M35.682,14.4,3.3,16.8" fill="none" stroke="#323232" stroke-width="1.5"/></svg>