<svg xmlns="http://www.w3.org/2000/svg" width="35.274" height="36.825" viewBox="0 0 35.274 36.825"><desc>Math Plus</desc><path d="M18.818.043l-2.1,36.739" fill="none" stroke="#323232" stroke-width="1.5"/><path d="M.019,17.979l35.235.907" fill="none" stroke="#323232" stroke-width="1.5"/></svg>