<div class="account-page  login-page">
  <div class="inner">
    <div class="account-page__content">
      <div class="form-success hide" id="ResetSuccess">
        <div class="account-form-text">
          {{ 'customer.recover_password.success' | t }}
        </div>
      </div>

      <div id="CustomerLoginForm">
        {% form 'customer_login' %}

          <h1 class="account-page__heading">{{ 'customer.login.title' | t }}</h1>

          <div class="account-form-text">
            New to Heed Foods?
            <a href="/account/register">
              {{ 'layout.customer.create_account' | t }}
            </a>
          </div>

          {{ form.errors | default_errors }}

          <label for="CustomerEmail" class="label-hidden">
            {{ 'customer.login.email' | t }}
          </label>
          <input type="email"
                 name="customer[email]"
                 id="CustomerEmail"
                 class="text-input {% if form.errors contains 'email' %}input-error{% endif %}"
                 placeholder="{{ 'customer.login.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off"
                 autofocus>

          {% if form.password_needed %}
            <label for="CustomerPassword" class="label-hidden">
              {{ 'customer.login.password' | t }}
            </label>
            <input type="password"
                   name="customer[password]"
                   id="CustomerPassword"
                   class="text-input {% if form.errors contains 'password' %}input-error{% endif %}"
                   placeholder="{{ 'customer.login.password' | t }}">
          {% endif %}

          {% if form.password_needed %}
            <div class="account-form-text">
              <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
            </div><!-- .account-form-text -->
          {% endif %}

          <input type="submit" class="button  account-submit-button" value="{{ 'customer.login.sign_in' | t }}">

          <div class="account-form-text">
            {% if settings.concierge_contact_link_text != blank and settings.concierge_contact_link != blank %}
              <a href="{{ settings.concierge_contact_link }}" target="_blank">{{ settings.concierge_contact_link_text }}</a>
            {% endif %}
          </div>

        {% endform %}

      </div>

      <div id="RecoverPasswordForm" class="hide">
        <h2 class="account-page__section-heading">{{ 'customer.recover_password.title' | t }}</h2>
        <div class="account-form-text">
          <p>{{ 'customer.recover_password.subtext' | t }}</p>
        </div>

        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <div class="account-form-text">
              <span class="hide reset-password-success"></span>
            </div>
          {% endif %}

          <label for="RecoverEmail" class="label-hidden">
            {{ 'customer.recover_password.email' | t }}
          </label>
          <input type="email"
                 name="email"
                 class="text-input"
                 id="RecoverEmail"
                 placeholder="{{ 'customer.recover_password.email' | t }}"
                 spellcheck="false"
                 autocomplete="off"
                 autocapitalize="off">

          <input type="submit" class="button" value="{{ 'customer.recover_password.submit' | t }}">

          <div class="account-form-text">
            <button class="text-link" type="button" id="HideRecoverPasswordLink">
              {{ 'customer.recover_password.cancel' | t }}
            </button>
          </div>
        {% endform %}

      </div>

      {% if shop.checkout.guest_login %}
        <h2 class="account-page__section-heading">{{ 'customer.login.guest_title' | t }}</h2>

        {% form 'guest_login' %}
          <input type="submit" class="button" value="{{ 'customer.login.guest_continue' | t }}">
        {% endform %}
      {% endif %}

    </div><!-- .account-page__content -->

  </div><!-- .inner -->
</div><!-- .account-page -->