<div class="account-page">
  <div class="inner">
    <div class="account-page__content">

      <div class="form-reset-password">

        {% form 'reset_customer_password' %}

          <h1 class="account-page__section-heading">{{ 'customer.reset_password.title' | t }}</h1>

          <div class="account-form-text">
            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
          </div>

          {{ form.errors | default_errors }}

          <label for="ResetPassword" class="label-hidden">
            {{ 'customer.reset_password.password' | t }}
          </label>
          <input type="password"
            class="text-input"
            name="customer[password]"
            id="ResetPassword"
            class="{% if form.errors contains 'password' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password' | t }}">

          <label for="PasswordConfirmation" class="label-hidden">
            {{ 'customer.reset_password.password_confirm' | t }}
          </label>
          <input type="password"
            class="text-input"
            name="customer[password_confirmation]"
            id="PasswordConfirmation"
            class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
            placeholder="{{ 'customer.reset_password.password_confirm' | t }}">

          <div class="account-form-text">
            <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}">
          </div>
        {% endform %}
      </div><!-- .form-reset-password -->

    </div><!-- .account-page__content -->

  </div><!-- .inner -->
</div><!-- .account-page -->