<section class="section-info-icons">

<div class="section-icons__content">
    <div class="inner">
        <div class="section-icons__header">
            <h3>{{ section.settings.header }}</h3>
        </div>
        <div class="section-icons__body">
            {% for block in section.blocks %}
                <div class="section-icon">
                    <div class="section-icon__image">
                        {% capture iconName %}icon-{{ block.settings.underline | handleize}}{% endcapture %}
                        {% include iconName %}
                    </div>
                    <div class="section-icon__text">
                        <p>{{ block.settings.underline }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>

</section>


{% schema %}
  {
    "name": "Collection Icons",
    "max_blocks": 10,
    "settings": [
        {
            "type": "text",
            "id": "header",
            "label": "Header"
        }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "id": "underline",
            "type": "text",
            "label": "Underline Text"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}