{% unless template == 'product' or template == 'page.quiz' or template.directory == 'customers' or template == 'cart' %}
  <footer class="site-footer">
    <div class="inner">
      <div class="site-footer__layout">

        <div class="site-footer__column  site-footer__column--first">

          <h1 class="footer-logo">
            <a href="/" class="logo-image">
              {% include 'heed-logo' %}
            </a>
          </h1>

          {%- assign footer_linklist = section.settings.footer_linklist -%}
          {% if linklists[footer_linklist].links.size > 0 %}
            <ul class="footer-nav">
              {% for link in linklists[footer_linklist].links %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}

        </div><!-- column -->

        <div class="site-footer__column">
          {% if section.settings.contact_heading != blank %}<h2 class="site-footer__column-heading">{{ section.settings.contact_heading }}</h2>{% endif %}
          {% if section.settings.address != blank %}
            <div class="address">{{ section.settings.address | newline_to_br }}</div>
          {% endif %}
          {% assign email = section.settings.email %}
          {% if email != blank %}
            <div class="email"><a href="mailto:{{ email }}" target="_blank">{{ email }}</div>
          {% endif %}
        </div><!-- column -->

        <div class="site-footer__column">
          {% if section.settings.social_heading != blank %}<h2 class="site-footer__column-heading">{{ section.settings.social_heading }}</h2>{% endif %}
          {% include 'social-media-links' %}
        </div><!-- column -->

        <div class="site-footer__column">
          {% if section.settings.newsletter_heading != blank %}<h2 class="site-footer__column-heading">{{ section.settings.newsletter_heading }}</h2>{% endif %}
          {% include 'klaviyo-newsletter-signup' %}
        </div><!-- column -->

      </div><!-- .site-footer__layout -->
    </div><!-- .inner -->
  </footer>
{% endunless %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "text",
        "id": "contact_heading",
        "label": "Contact Heading"
      },
      {
        "type": "textarea",
        "id": "address",
        "label": "Address"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email"
      },
      {
        "type": "text",
        "id": "social_heading",
        "label": "Social Heading"
      },
      {
        "type": "text",
        "id": "newsletter_heading",
        "label": "Newsletter Heading"
      }
    ]
  }

{% endschema %}
