<section class="home-section-hero  lazyload" data-bgset="{% include 'responsive-bg-image', image: section.settings.background_image %}">
  <div class="home-section-hero__content">
    <div class="inner">
      <div class="home-section-hero__text-area">
        {% if section.settings.heading != blank %}<h1 class="h1">{{ section.settings.heading }}</h1>{% endif %}
        {% if section.settings.copy != blank %}
          <div class="home-section-hero__copy">
            <div class="rte">{{ section.settings.copy }}</div>
          </div><!-- .home-section-hero__copy -->
        {% endif %}
        {% if section.settings.button_link != blank %}<a class="button" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>{% endif %}
      </div><!-- .home-section-hero__text-area -->
    </div><!-- .inner -->
  </div><!-- .home-section-hero__content -->
</section>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Modules"
      }
    ]
  }
{% endschema %}