<script>
var serving_rec_text_1 = '{{ section.settings.serving_rec_text_1 }}';
var serving_rec_text_2 = '{{ section.settings.serving_rec_text_2 }}';
var caloriesPerCup = '{{ section.settings.calories_per_cup }}';
var cupsPerBag = '{{ section.settings.cups_per_bag }}';
</script>

<div class="product-single" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="inner">
    <div class="product-single__layout">
      <div class="product-single__basics">
        {% if section.settings.product_pre_title != blank %}<h2 class="product-single__pre-title">{{ section.settings.product_pre_title }}</h2>{% endif %}
        <h1 class="product-single__title">{{ product.title }}</h1>
        {% if section.settings.plan_intro_text != blank %}<h3 class="product-single__sub-title">{{ section.settings.plan_intro_text }}</h3>{% endif %}

        <form action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}">

          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js  product-single__variant-select">
                <label class="visually-hidden" for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <div class="select-wrap"><select
                  class="product-option-select"
                  id="SingleOptionSelector-{{ forloop.index0 }}"
                  data-single-option-selector
                  data-index="option{{ option.position }}">
                  {% for value in option.values %}
                    <option
                      value="{{ value | escape }}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}>
                        {{ value }}
                    </option>
                  {% endfor %}
                </select>{% include 'icon-down-arrow' %}</div>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select data-productid="{{product.id}}">
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>

          {% comment %}
          reCharge Code for subscriptions
          {% endcomment %}
          {% if product.available %}{% include 'subscription-product' %}{% endif %}


{% comment %}
          <label for="Quantity" class="visually-hidden">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity" name="quantity" value="1" min="1">
{% endcomment %}

          <div data-price-wrapper class="product-single__price-area">
            <div class="price-breakdown">
              <div class="rte">
                {{ current_variant.metafields.heed.price_breakdown }}
                <p>{{ section.settings.delivery_info }}</p>
                <p class="js-cups-per-day"></p>
              </div>
            </div><!-- .price-breakdown -->

            <span class="price-label">{{ section.settings.price_label }}</span>

            <span class="price-amount" data-product-price>
              {{ current_variant.price | money }}
            </span>

{% comment %}
            {% if product.compare_at_price_max > product.price %}
              <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
              <s data-compare-price>
                {% if current_variant.compare_at_price > current_variant.price %}
                  {{ current_variant.compare_at_price | money }}
                {% endif %}
              </s>
            {% endif %}
{% endcomment %}
          </div><!-- .product-single__price-area -->

          <input type="hidden" name="properties[Serving Suggestion]" class="js-cups-per-day-input">

          <button
            type="submit"
            name="add"
            class="button  product-cart-button"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>
        </form>

      </div><!-- .product-single__basics -->

      <div class="product-single__details">
        <div class="product-single__image-area">
          {% for image in product.images %}
            {% capture wrapper_class %}
              {%- unless featured_image == image -%}
                hide
              {%- endunless -%}
            {% endcapture %}

            {% include 'responsive-image' with
              image: image,
              max_width: 700,
              max_height: 800,
              image_attributes: "data-product-featured-image",
              wrapper_class: wrapper_class,
              wrapper_attributes: "data-product-image-wrapper",
            %}
          {% endfor %}

          {% if product.images.size > 1 %}
            <ul>
              {% for image in product.images %}
                <li>
                  <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail>
                    <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
                  </a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div><!-- .product-single__image-area -->

        <div class="product-single__description">
          <div class="rte">
            {{ product.description }}
          </div>
        </div><!-- .product-single__description -->

        {% assign features = product.metafields.heed.features | split: '|'  %}
        {% if features != blank %}
          <div class="product-single__features">
            {% if section.settings.features_heading != blank %}<h2 class="product-single__features-heading">{{ section.settings.features_heading }}</h2>{% endif %}
            <ul class="product-single__features-list">
              {% for feature in features %}
                <li class="product-single__feature">
                  {% capture iconName %}icon-{{ feature }}{% endcapture %}
                  {% include iconName %}
                  <h3 class="product-single__feature-name">{{ feature }}</h3>
                </li>
              {% endfor %}
            </ul>
          </div><!-- .product-single__features -->
        {% endif %}

        <div class="accordion">

          {% if product.metafields.heed.ingredient_highlights %}

            <div class="product-single__ingredient-highlights  accordion-section  js-accordion-section">
              <h2 class="detail-section-heading  accordion-heading  js-accordion-heading">{{ section.settings.ingredient_highlights_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="detail-section-content  accordion-content  js-accordion-content" style="display: block;">
                {{ product.metafields.heed.ingredient_highlights }}
              </div><!-- .detail-section-content -->
            </div><!-- .product-single__ingredient-highlights -->

          {% endif %}

          {% if product.metafields.heed.feeding_recommendations %}
            <div class="accordion-section  js-accordion-section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.feeding_recommendations_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content">
                {{ product.metafields.heed.feeding_recommendations }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}

          {% if product.metafields.heed.nutritional_analysis %}
            <div class="accordion-section  js-accordion-section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.nutritional_analysis_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content">
                {{ product.metafields.heed.nutritional_analysis }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}

          {% if product.metafields.heed.ingredients %}
            <div class="accordion-section  js-accordion-section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.ingredients_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content">
                {{ product.metafields.heed.ingredients }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}

          {% if product.metafields.heed.vitamins_minerals %}
            <div class="accordion-section  js-accordion-section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.vitamins_minerals_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content">
                {{ product.metafields.heed.vitamins_minerals }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}

        </div><!-- .accordion -->

      </div><!-- .product-single__details -->

  </div><!-- .inner -->
</div><!-- .product-single -->

{% unless product == empty %}
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "text",
        "id": "product_pre_title",
        "label": "Text before product heading"
      },
      {
        "type": "text",
        "id": "plan_intro_text",
        "label": "Plan Intro Text"
      },
      {
        "type": "text",
        "id": "delivery_info",
        "label": "Delivery Info"
      },
      {
        "type": "text",
        "id": "price_per_serving_label",
        "label": "Price Per Serving Label"
      },
      {
        "type": "text",
        "id": "weekly_price_label",
        "label": "Weekly Price Label"
      },
      {
        "type": "text",
        "id": "price_label",
        "label": "Price Label"
      },
      {
        "type": "number",
        "id": "calories_per_cup",
        "label": "Calories Per Cup",
        "info": "Used in calculations"
      },
      {
        "type": "number",
        "id": "cups_per_bag",
        "label": "Cups Per Bag",
        "info": "Used in calculations"
      },
      {
        "type": "text",
        "id": "serving_rec_text_1",
        "label": "Serving recommendation Text 1",
        "info": "This will show up before 'X cups'"
      },
      {
        "type": "text",
        "id": "serving_rec_text_2",
        "label": "Serving recommendation Text 2",
        "info": "This will show up after 'X cups'"
      },
      {
        "type": "text",
        "id": "features_heading",
        "label": "Features Heading"
      },
      {
        "type": "text",
        "id": "ingredient_highlights_heading",
        "label": "Ingredient Highlights Heading"
      },
      {
        "type": "text",
        "id": "feeding_recommendations_heading",
        "label": "Feeding Recommendations Heading"
      },
      {
        "type": "text",
        "id": "nutritional_analysis_heading",
        "label": "Nutritional Analysis Heading"
      },
      {
        "type": "text",
        "id": "ingredients_heading",
        "label": "Ingredients Heading"
      },
      {
        "type": "text",
        "id": "vitamins_minerals_heading",
        "label": "Vitamins & Minerals Heading"
      }
    ]
  }
{% endschema %}
