<script>
var serving_rec_text_1 = '{{ section.settings.serving_rec_text_1 }}';
var serving_rec_text_2 = '{{ section.settings.serving_rec_text_2 }}';
var caloriesPerCup = '{{ section.settings.calories_per_cup }}';
var cupsPerBag = '{{ section.settings.cups_per_bag }}';
</script>

<div class="product-single_nocart" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="inner">
    <div class="product-banner__content">
      <p class="back_link"><a href="/collections/all"><span>{% include "icon-left-arrow" %}</span>Back to Products</a></p>
      <div class="product_title_icons">
        <h1 class="product_title">{{ product.title | split: '- No Cart'| first}}</h1>
        {% assign features = product.metafields.heed.features | split: '|'  %}
        {% if features != blank %}
          {% if section.settings.features_heading != blank %}<h2 class="product-single__features-heading">{{ section.settings.features_heading }}</h2>{% endif %}
          <div class="p-icon__wrapper">
            {% for feature in features %}
              <div class="p-icon">
                {% capture iconName %}icon-{{ feature }}{% endcapture %}
                {% include iconName %}
                <h3 class="product-single__feature-name">{{ feature }}</h3>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      
      <div class="product-single__image-area">
        <ul class="product-images__slick-slider">
          {% for image in product.images %}
            {% unless image.src == product.featured_image %}
              <li>
                <a href="{{ image.src | img_url: '480x480' }}">
                  <img class="product-single__image" src="{{ image.src | img_url: '600x' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div><!-- .product-single__image-area -->
    </div>
    <div class="product-single__layout">
      
      <div class="product-single__details">

        <div class="accordion">

          {% if product.metafields.heed.toppers %}

            <div class="product-single__ingredient-highlights">
              <h2 class="detail-section-heading">TOPPERS</h2>
              <div class="detail-section-content" style="display: block;">
                {% assign toppers = product.metafields.heed.toppers | remove: '<p>' | split: '</p>' %}
                {% for item in toppers %}
                  {% assign item_name =  item | split: ':' | first | handleize %}
                  {% if item_name != blank %}
                    {% capture toppersIconName %}icon-{{ item_name }}.png{% endcapture %}
                    <div class="detail-section-paragraph">
                      <img src="{{ toppersIconName | asset_url }}">
                      <p>{{ item }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div><!-- .detail-section-content -->
            </div><!-- .product-single__ingredient-highlights -->

          {% endif %}

          {% if product.metafields.heed.base_ingredients %}

            <div class="product-single__ingredient-highlights">
              <h2 class="detail-section-heading">{{ section.settings.ingredient_highlights_heading }}</h2>
              <div class="detail-section-content" style="display: block;">
                {% comment %} {{ product.metafields.heed.base_ingredients }} {% endcomment %}
                {% assign base_ingredients = product.metafields.heed.base_ingredients | remove: '<p>' | split: '</p>' %}
                {% for item in base_ingredients %}
                  {% assign item_name =  item | split: ':' | first | handleize %}
                  {% if item_name != blank %}
                    {% capture ingredientsIconName %}icon-{{ item_name }}.png{% endcapture %}
                    <div class="detail-section-paragraph">
                      <img src="{{ ingredientsIconName | asset_url }}">
                      <p>{{ item }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div><!-- .detail-section-content -->
            </div><!-- .product-single__ingredient-highlights -->

          {% endif %}

       </div><!-- .accordion -->

      </div><!-- .product-single__details -->

      <div class="product-single__basics">
        {% if section.settings.product_pre_title != blank %}<h2 class="product-single__pre-title">{{ section.settings.product_pre_title }}</h2>{% endif %}
        {% comment %} <h1 class="product-single__title">{{ product.title }}</h1> {% endcomment %}
        {% if section.settings.plan_intro_text != blank %}<h3 class="product-single__sub-title">{{ section.settings.plan_intro_text }}</h3>{% endif %}

        <div class="accordion">
          {% if product.metafields.heed.nutritional_analysis %}
            <div class="accordion-section  js-accordion-section nutritional_accordion--section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.nutritional_analysis_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content" style="display: block">
                {{ product.metafields.heed.nutritional_analysis }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}          
          {% if product.metafields.heed.vitamins_minerals %}
            <div class="accordion-section  js-accordion-section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.vitamins_minerals_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content" style="">
                {{ product.metafields.heed.vitamins_minerals }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}
          {% if product.metafields.heed.ingredients %}
            <div class="accordion-section  js-accordion-section">
              <h2 class="accordion-heading  js-accordion-heading">{{ section.settings.ingredients_heading }} {% include 'icon-down-arrow' %}</h2>
              <div class="accordion-content  js-accordion-content" style="">
                {{ product.metafields.heed.ingredients }}
              </div><!-- .detail-section-content -->
            </div>
          {% endif %}        
        </div><!-- .accordion -->  
      </div><!-- .product-single__basics -->

  </div><!-- .inner -->
</div><!-- .product-single -->

{% unless product == empty %}
  <script type="application/json" data-product-json>
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "text",
        "id": "product_pre_title",
        "label": "Text before product heading"
      },
      {
        "type": "text",
        "id": "plan_intro_text",
        "label": "Plan Intro Text"
      },
      {
        "type": "text",
        "id": "delivery_info",
        "label": "Delivery Info"
      },
      {
        "type": "text",
        "id": "price_per_serving_label",
        "label": "Price Per Serving Label"
      },
      {
        "type": "text",
        "id": "weekly_price_label",
        "label": "Weekly Price Label"
      },
      {
        "type": "text",
        "id": "price_label",
        "label": "Price Label"
      },
      {
        "type": "number",
        "id": "calories_per_cup",
        "label": "Calories Per Cup",
        "info": "Used in calculations"
      },
      {
        "type": "number",
        "id": "cups_per_bag",
        "label": "Cups Per Bag",
        "info": "Used in calculations"
      },
      {
        "type": "text",
        "id": "serving_rec_text_1",
        "label": "Serving recommendation Text 1",
        "info": "This will show up before 'X cups'"
      },
      {
        "type": "text",
        "id": "serving_rec_text_2",
        "label": "Serving recommendation Text 2",
        "info": "This will show up after 'X cups'"
      },
      {
        "type": "text",
        "id": "features_heading",
        "label": "Features Heading"
      },
      {
        "type": "text",
        "id": "ingredient_highlights_heading",
        "label": "Ingredient Highlights Heading"
      },
      {
        "type": "text",
        "id": "feeding_recommendations_heading",
        "label": "Feeding Recommendations Heading"
      },
      {
        "type": "text",
        "id": "nutritional_analysis_heading",
        "label": "Nutritional Analysis Heading"
      },
      {
        "type": "text",
        "id": "ingredients_heading",
        "label": "Ingredients Heading"
      },
      {
        "type": "text",
        "id": "vitamins_minerals_heading",
        "label": "Vitamins & Minerals Heading"
      }
    ]
  }
{% endschema %}
