<section class="section-benefits">
  <div class="inner">
    <h1 class="section__heading">{{ section.settings.headline }}</h1>
    <div class="section-icon__wrapper">
      {% for block in section.blocks %}
        <div class="section-icon">
          <img src="{{ block.settings.image | img_url: '80x80' }}">
          <p>{{ block.settings.icon_text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Benefit Icons",
    "max_blocks": 10,
    "settings": [
	  {
		"type": "text",
        "id": "headline",
        "label": "Headline"
      }
    ],
	"blocks": [
	  {
		"type": "icon",
		"name": "Icon",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "Upolad Image"
			},
			{
				"type": "text",
				"id": "icon_text",
				"label": "Icon Text"
			}
		]
      }
    ]
  }
{% endschema %}