<section class="section-info-cards">

	{% for block in section.blocks %}

    <article class="info-card  info-card--{{ forloop.index }}" {{ block.shopify_attributes }}>
    	<div class="info-card__content">
	    	<div class="inner">

	        <h1 class="info-card__header  h4">{{ block.settings.heading }}</h1>

		      <div class="info-card__body">

		      	<div class="info-card__copy">
		      		<div class="rte">{{ block.settings.copy }}</div>
		      	</div>

			      <div class="info-card__image">
			        {{ block.settings.image | img_url: '1000x1000' | img_tag }}
			      </div><!-- .info-card__image -->

			    </div><!-- .info-card__body -->

		    </div><!-- .inner -->
		  </div><!-- .info-card__content -->
    </article><!-- .info-card -->

	{% endfor %}

</section>

{% schema %}
  {
    "name": "Info Cards",
    "max_blocks": 3,
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "copy",
            "type": "richtext",
            "label": "Copy"
          },
          {
            "id": "image",
            "type": "image_picker",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Info Cards",
        "category": "Modules",
        "blocks": [
          { 
            "type": "card"
          },
          {
            "type": "card"
          },
          {
            "type": "card"
          }
        ]
      }
    ]
  }
{% endschema %}