<section class="section-text-callout" style="background-image: url( {{ 'grid.png' | asset_url }} );">
  <div class="section-text-callout__content">
    <div class="inner">
      <div class="section-text-callout__text-area">
        {% if section.settings.heading != blank %}<h1 class="section-text-callout__text">{{ section.settings.heading | newline_to_br }}</h1>{% endif %}
      </div><!-- .section-text-callout__text-area -->
    </div><!-- .inner -->
  </div><!-- .section-text-callout__content -->
</section>

{% schema %}
  {
    "name": "Text Callout",
    "settings": [
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "presets": [
      {
        "name": "Text Callout",
        "category": "Modules"
      }
    ]
  }
{% endschema %}