<section class="section-text-cta" style="background-image: url( {{ 'dot.png' | asset_url }} );">
  <div class="section-text-cta__content">
    <div class="inner">
      <div class="section-text-cta__text-area">
        {% if section.settings.heading != blank %}<h1 class="section-text-cta__text">{{ section.settings.heading }}</h1>{% endif %}
        {% if section.settings.button_link != blank %}<a class="button--alt" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>{% endif %}
      </div><!-- .section-text-cta__text-area -->
    </div><!-- .inner -->
  </div><!-- .section-text-cta__content -->
</section>

{% schema %}
  {
    "name": "Text CTA",
    "settings": [
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Text CTA",
        "category": "Modules"
      }
    ]
  }
{% endschema %}